# coding: utf-8

"""
    BioLink API

    API integration layer for linked biological objects.   __Source:__ https://github.com/monarch-initiative/biolink-api/

    OpenAPI spec version: 0.1.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class MartApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_mart_case_associations_resource(self, object_category, taxon, **kwargs):
        """
        Bulk download of case associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_case_associations_resource(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of case, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_mart_case_associations_resource_with_http_info(object_category, taxon, **kwargs)
        else:
            (data) = self.get_mart_case_associations_resource_with_http_info(object_category, taxon, **kwargs)
            return data

    def get_mart_case_associations_resource_with_http_info(self, object_category, taxon, **kwargs):
        """
        Bulk download of case associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_case_associations_resource_with_http_info(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of case, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_category', 'taxon', 'slim']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mart_case_associations_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'object_category' is set
        if ('object_category' not in params) or (params['object_category'] is None):
            raise ValueError("Missing the required parameter `object_category` when calling `get_mart_case_associations_resource`")
        # verify the required parameter 'taxon' is set
        if ('taxon' not in params) or (params['taxon'] is None):
            raise ValueError("Missing the required parameter `taxon` when calling `get_mart_case_associations_resource`")


        collection_formats = {}

        resource_path = '/mart/case/{object_category}/{taxon}'.replace('{format}', 'json')
        path_params = {}
        if 'object_category' in params:
            path_params['object_category'] = params['object_category']
        if 'taxon' in params:
            path_params['taxon'] = params['taxon']

        query_params = {}
        if 'slim' in params:
            query_params['slim'] = params['slim']
            collection_formats['slim'] = 'multi'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_mart_disease_associations_resource(self, object_category, taxon, **kwargs):
        """
        Bulk download of disease associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_disease_associations_resource(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of disease, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_mart_disease_associations_resource_with_http_info(object_category, taxon, **kwargs)
        else:
            (data) = self.get_mart_disease_associations_resource_with_http_info(object_category, taxon, **kwargs)
            return data

    def get_mart_disease_associations_resource_with_http_info(self, object_category, taxon, **kwargs):
        """
        Bulk download of disease associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_disease_associations_resource_with_http_info(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of disease, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_category', 'taxon', 'slim']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mart_disease_associations_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'object_category' is set
        if ('object_category' not in params) or (params['object_category'] is None):
            raise ValueError("Missing the required parameter `object_category` when calling `get_mart_disease_associations_resource`")
        # verify the required parameter 'taxon' is set
        if ('taxon' not in params) or (params['taxon'] is None):
            raise ValueError("Missing the required parameter `taxon` when calling `get_mart_disease_associations_resource`")


        collection_formats = {}

        resource_path = '/mart/disease/{object_category}/{taxon}'.replace('{format}', 'json')
        path_params = {}
        if 'object_category' in params:
            path_params['object_category'] = params['object_category']
        if 'taxon' in params:
            path_params['taxon'] = params['taxon']

        query_params = {}
        if 'slim' in params:
            query_params['slim'] = params['slim']
            collection_formats['slim'] = 'multi'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_mart_gene_associations_resource(self, object_category, taxon, **kwargs):
        """
        Bulk download of gene associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_gene_associations_resource(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of gene, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_mart_gene_associations_resource_with_http_info(object_category, taxon, **kwargs)
        else:
            (data) = self.get_mart_gene_associations_resource_with_http_info(object_category, taxon, **kwargs)
            return data

    def get_mart_gene_associations_resource_with_http_info(self, object_category, taxon, **kwargs):
        """
        Bulk download of gene associations
        NOTE: this route has a limiter on it, you may be restricted in the number of downloads per hour. Use carefully.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_mart_gene_associations_resource_with_http_info(object_category, taxon, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str object_category: CATEGORY of entity at link OBJECT (target), e.g. phenotype, disease (required)
        :param str taxon: taxon of gene, must be of form NCBITaxon:9606 (required)
        :param list[str] slim: Map objects up (slim) to a higher level category. Value can be ontology class ID or subset ID
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['object_category', 'taxon', 'slim']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mart_gene_associations_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'object_category' is set
        if ('object_category' not in params) or (params['object_category'] is None):
            raise ValueError("Missing the required parameter `object_category` when calling `get_mart_gene_associations_resource`")
        # verify the required parameter 'taxon' is set
        if ('taxon' not in params) or (params['taxon'] is None):
            raise ValueError("Missing the required parameter `taxon` when calling `get_mart_gene_associations_resource`")


        collection_formats = {}

        resource_path = '/mart/gene/{object_category}/{taxon}'.replace('{format}', 'json')
        path_params = {}
        if 'object_category' in params:
            path_params['object_category'] = params['object_category']
        if 'taxon' in params:
            path_params['taxon'] = params['taxon']

        query_params = {}
        if 'slim' in params:
            query_params['slim'] = params['slim']
            collection_formats['slim'] = 'multi'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
