# coding: utf-8

"""
    BioLink API

    API integration layer for linked biological objects.   __Source:__ https://github.com/monarch-initiative/biolink-api/

    OpenAPI spec version: 0.1.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class OntolsubgraphApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def get_extract_ontology_subgraph_resource(self, ontology, node, **kwargs):
        """
        Extract a subgraph from an ontology
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_extract_ontology_subgraph_resource(ontology, node, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ontology: ontology id, e.g. go, uberon, mp, hp) (required)
        :param str node: class id. E.g. UBERON:0002102 (required)
        :param list[str] cnode: Additional classes
        :param list[str] relation: Additional classes
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_extract_ontology_subgraph_resource_with_http_info(ontology, node, **kwargs)
        else:
            (data) = self.get_extract_ontology_subgraph_resource_with_http_info(ontology, node, **kwargs)
            return data

    def get_extract_ontology_subgraph_resource_with_http_info(self, ontology, node, **kwargs):
        """
        Extract a subgraph from an ontology
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_extract_ontology_subgraph_resource_with_http_info(ontology, node, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str ontology: ontology id, e.g. go, uberon, mp, hp) (required)
        :param str node: class id. E.g. UBERON:0002102 (required)
        :param list[str] cnode: Additional classes
        :param list[str] relation: Additional classes
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ontology', 'node', 'cnode', 'relation']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_extract_ontology_subgraph_resource" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ontology' is set
        if ('ontology' not in params) or (params['ontology'] is None):
            raise ValueError("Missing the required parameter `ontology` when calling `get_extract_ontology_subgraph_resource`")
        # verify the required parameter 'node' is set
        if ('node' not in params) or (params['node'] is None):
            raise ValueError("Missing the required parameter `node` when calling `get_extract_ontology_subgraph_resource`")


        collection_formats = {}

        resource_path = '/ontol/subgraph/{ontology}/{node}'.replace('{format}', 'json')
        path_params = {}
        if 'ontology' in params:
            path_params['ontology'] = params['ontology']
        if 'node' in params:
            path_params['node'] = params['node']

        query_params = {}
        if 'cnode' in params:
            query_params['cnode'] = params['cnode']
            collection_formats['cnode'] = 'multi'
        if 'relation' in params:
            query_params['relation'] = params['relation']
            collection_formats['relation'] = 'multi'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_test_me(self, **kwargs):
        """
        Extract a subgraph from an ontology
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_test_me(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] cnode: Additional classes
        :param list[str] relation: Additional classes
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_test_me_with_http_info(**kwargs)
        else:
            (data) = self.get_test_me_with_http_info(**kwargs)
            return data

    def get_test_me_with_http_info(self, **kwargs):
        """
        Extract a subgraph from an ontology
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_test_me_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] cnode: Additional classes
        :param list[str] relation: Additional classes
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cnode', 'relation']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_test_me" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        resource_path = '/ontol/subgraph/testme'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'cnode' in params:
            query_params['cnode'] = params['cnode']
            collection_formats['cnode'] = 'multi'
        if 'relation' in params:
            query_params['relation'] = params['relation']
            collection_formats['relation'] = 'multi'

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=None,
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
